
<div class ="jumbotron"> 
<h2> create new post</h2>
  <div class ="text-center create_post">
    <%= image_tag "1.png" %>
  </div>

</div>

<%= render 'form', post: @post %>

<button type="button" class="btn btn-warning">
<%= link_to 'Back', posts_path %>
</button>