/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  overflow-x: hidden;
}

.top-margin {
  height: 20px;
}

.top_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #eee;
  padding: 20px;
}

a {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
}

table {
  margin: 0 auto;
  border: 1px solid #b5b0b0;
  margin-bottom: 20px;
}

h1 {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

td {
  font-size: 20px;
  color: #f5aa22;
  font-weight: 800;
}

table a {
  font-size: 14px;
  font-weight: 400;
}

.button {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 110px;
  background-color: orange;
  color: #fff;
  border-radius: 20px;
}

.new_post_form {
  text-align: center;
}

.new_post_form input {
  width: 30%;
  border: 2px solid orange;
  border-radius: 10px;
  outline: none;
}

.new_post_form #post_title {
  height: 25px;
}

.new_post_form #post_body {
  height: 230px;
  width: 30%;
  border: 2px solid orange;
  border-radius: 10px;
  outline: none;
}

.new_post_form .actions input {
  background: #f5aa22;
  color: #fff;
  width: 150px;
  border-radius: 20px;
  height: 34px;
  cursor: pointer;
}

.author {
  color: #81985c;
}

.post-fields {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.post-fields > p {
  padding: 20px;
  border: 1px solid lightgray;
}

.post-commands {
  margin-top: 20px;
  text-align: center;
}

.new_user,
.actions,
.ta-c,
h2 {
  text-align: center;
}
